<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><%- heading %></h1>
        <a href="/backend/cgm-Ncr" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">กราฟ NCR Chart</a>
    </div>

    <!-- Bar Chart -->
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- <button id="exportExcelButton" class="btn btn-success">Export to Excel</button> -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">%Production On Plan (CGM)</h6>
                </div>
                <div class="chart-controls mb-3">
                    <div class="date-inputs">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Start:</span>
                            </div>
                            <input id="start" type="date" class="form-control">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">End:</span>
                            </div>
                            <input id="end" type="date" class="form-control">
                        </div>
                    </div>
                    <div class="button-group">
                        <button id="filterButton" class="btn btn-primary">Filter</button>
                        <button id="toggleViewButton" class="btn btn-primary">Show Combined View</button>
                        <button id="toggleChartViewButton" class="btn btn-secondary">Switch to Plan/Actual View</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart-container" style="position: relative; height: 80vh; width: 100%;">
                        <canvas id="productionChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <button onclick="exportToExcel()" class="btn btn-primary">Export To Excel</button>
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">ตารางแสดงข้อมูลผลผลิตประจำวัน (CGM)</h6>
            <div class="date-filter">
                <button id="editPlanButton" data-department="CGM" onclick="editPlan()" class="btn btn-success ml-2">แก้ไข Plan</button>
                <label for="selectedDate">เลือกวันที่:</label>
                <input type="date" id="selectedDate">
                <button id="dailyTableFilterButton" class="btn btn-primary ml-2">Filter</button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div class="cgm-table-container">
                    <table id="barChartTable" class="cgm-table">
                        <thead>
                            <th>Machine</th>
                            <th>Actual</th>
                            <th>Plan</th>
                            <th>MFG.No</th>
                            <th>ลูกค้า</th>
                            <th>Remark</th>
                            <th>ปัญหาที่เกิด</th>
                            <th>เวลาสูญเสีย</th>
                            <th>Order</th>
                            <th>Grade</th>
                            <th>SizeIn</th>
                            <th>SizeOut</th>
                            <th>Action</th>
                            <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">รายงานประจำสัปดาห์/เดือน</h5>
        </div>
            <div class="chart-controls mb-3">
                <div class="date-inputs">
                    <div class="input-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="startDate">Start:</label>
                                <input type="date" id="startDate" class="form-control">
                                <label class="input-group-text" for="endDate">End:</label>
                                <input type="date" id="endDate" class="form-control"> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button-group">
                    <a href="/backend/cgm-Ncr" class="btn btn-secondary ml-2 shadow-sm">กราฟ NCR Chart</a>
                    <button id="exportWeeklyReportExcel" class="btn btn-success">Export Weekly Report to Excel</button>
                    <button id="generateReport" class="btn btn-primary ml-2">สร้างรายงาน</button>
                    <button id="saveAllPreventiveCorrections" class="btn btn-primary ml-2">บันทึกข้อมูล</button>
                </div>
            </div>
            <table id="reportTable" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>วันที่</th>
                        <th>MachineCode</th>
                        <th>%POP สะสม</th>
                        <th>Actual/Plan</th>
                        <th>ปัญหา</th>
                        <th>เวลาที่สูญเสีย</th>
                        <th>การแก้ไขป้องกัน</th>
                    </tr>
                </thead>
                <tbody> 
                    
                </tbody>
            </table>
            </div>
    </div>


    <!-- <div class="card shadow mb-4"></div>
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">รายงานของเสียประจำสัปดาห์/เดือน</h5>
        </div>
            <div class="chart-controls mb-3">
                <div class="date-inputs">
                    <div class="input-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="startDate">Start:</label>
                                <input type="date" id="startDate" class="form-control">
                                <label class="input-group-text" for="endDate">End:</label>
                                <input type="date" id="endDate" class="form-control"> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button-group">
                    <button id="#" class="btn btn-success">Export Weekly Report NCR to Excel</button>
                    <button id="generateReportNcr" class="btn btn-primary ml-2">สร้างรายงาน</button>
                    <button id="saveAllPreventiveCorrectionsNcr" class="btn btn-primary ml-2">บันทึกข้อมูล</button>
                </div>
            </div>
            <table id="reportTableNcr" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>วันที่</th>
                        <th>เครื่องจักร</th>
                        <th>ของเสียสะสม(NCR)</th>
                        <th>ปัญหา</th>
                        <th>เวลาที่สูญเสีย</th>
                        <th>การแก้ไขป้องกัน</th>
                    </tr>
                </thead>
                <tbody> 
                    
                </tbody>
            </table>
            </div>
    </div>     -->

        <script src="vendor/chart.js/Chart.min.js"></script>
        <!-- <script src="js/table/reportmonth/table-data-Report-allMounth-Cgm.js"></script> -->
        <script src="js/report/weekly-report-cgm.js"></script>
        <!-- <script src="js/report/ng/weekly-reportNCR-cgm.js"></script> -->

        <script src="js/table/table-Dailyproduction-data-Cgm.js"></script>

        <script src="js/exceljs.min.js"></script>

        <script src="js/chart/chart-bar-cgm.js"></script>



